<h2>New snippet</h2>

<% form_for(@snippet) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <p>
	<%= f.select(:language, supported_languages)%></br>
  </p>
  <p>
	<%= f.label :tag_list %><br/>
	<%= f.text_field :tag_list, :size => 80 %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', snippets_path %>