<style type="text/css">
  .recent {
	#background-color: #6D9CBE;
	background-color: #2B2B2B;
	padding-left:1em;
	color: white;
	font-weight: bold;
  }
  .toprounded{
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
  }
  .list-contents {
	padding-left: .5em;
	padding-right: .5em;
  }
  .list-contents h4 {
	margin-bottom: .5em;
  }
  .list-top {
	padding-top: .5em;
  }
  .list-bottom {
	border-bottom: 1px dotted #999999;
	padding-top: .5em;
  }
	.rounded2{
		-moz-border-radius: 3px; 
		-webkit-border-radius: 3px;
	}
  .tag-list ul{
	list-style: none;
	margin: 0;
	padding: 0;
  }
  .tag-list li{
	float: left;
	#padding-right: 1em;
	margin-left: .1em;
  }
	.tag-list a {
		#width: 7em;
		display: block;
		#text-align: center;
		#color: #E6E1DC;
		#font-weight: bold;
		text-decoration:none;
		padding-left:.5em;
		padding-right:.5em;
		-moz-border-radius: 3px; 
		-webkit-border-radius: 3px;
	}
	.tag-list a:hover{
		background-color:#97AE65;
		text-decoration:none;
	}
	.tag-list li.first {
	background-color:#E2E2E0;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	margin-right:.5em;
	}
	.tag-list li.first a{
	color:gray;
	}
	.tag-list li.first a:hover{
	background-color:gray;
	color: white;
	}
</style>

<div class="span-18 last">
	<div class="recent toprounded">
		<span class="large">Recent Snippets</span>
	</div>	
</div>

<% @snippets.each do |snippet| %>
<div class="span-15" style="background-color:grary">
	<div class="list-contents list-top">
		<h4><%= link_to snippet.title, edit_snippet_path(snippet), :style => "text-decoration: none" %></h4>
	</div>	
</div>
<div class="span-3 last" style="text-align: right">
	<div class="list-contents list-top">
		<%= link_to_remote "View", :url => {:action => 'view_content', :id => snippet.id} %>
	</div>	
</div>
<div class="span-18 last">
		<div id="snippet_<%= snippet.id %>" class="list-contents list-top" style="display:none"></div>
</div>
<div class="span-10" style="background-color:grary">
	<div class="list-contents tag-list">
		<ul>
			<li class="first"><a href="#"><%= snippet.language.camelize %></a></li>
			<% snippet.tag_list.each do |tag| %>
			<li><%= link_to tag, tag_url(:id => tag) %></li>
			<% end %>
		</ul>
	</div>	
</div>
<div class="span-8 last" style="text-align: right">
	 <div class="list-contents quiet" style="font-style: italic">
		<%= snippet.author.username %> - <%= time_ago_in_words(snippet.created_at) %> ago
	 </div>	
</div>
<div class="span-18 last list-bottom"></div>
<% end %>