<h1>Listing snippets</h1>

<table>
  <tr>
    <th>Content</th>
  </tr>

<% @snippets.each do |snippet| %>
  <tr>
    <td><%= coderay(snippet.content, snippet.language) %></td>
	<% if current_user %>
      <td><%= link_to 'Show', snippet %></td>
      <td><%= link_to 'Edit', edit_snippet_path(snippet) %></td>
      <td><%= link_to 'Destroy', snippet, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />

<% if current_user %>
	<%= link_to 'New snippet', new_snippet_path %>
<% else %>
	<h2>Login to add a snippet</h2>
<% end %>	