<style type="text/css">
  table.snippets td{
	border-bottom:1px solid #EFEFEF
  }
  table.snippets td.title{
 	width:100%;
	padding-left:1em
  }
  table.snippets td.time{
	white-space: nowrap
  }
  .recent {
	background-color: #E9E9E9;
	padding-left:1em;
	font-size:1.2em;
  }
  table.snippets td.language{
	padding:4px 3px;
  }
  .language_ruby{
	background-color: red;
	text-align: center;
	color:#FFFFFF;
	#padding:3px 4px;
	width: 30px;
  }
</style>

<div class="recent"><span class="large">Recent Snippets</strong></div>

<table class="snippets">

<% @snippets.each do |snippet| %>
  <tr>
    <td class="title"><%= link_to snippet.title, edit_snippet_path(snippet) %></td>
      <td class="time"><%= snippet.created_at.strftime("%B %d, %Y") %></td>
      <td class="author"><%= snippet.author.username %></td>
      <td><div style="background-color:red"><span class="language_<%= snippet.language %>"><%= snippet.language.camelize %></span></div></td>
  </tr>
<% end %>
</table>

<br />

<% if current_user %>
	<%= link_to 'New snippet', new_snippet_path %>
<% else %>
	<h2>Login to add a snippet</h2>
<% end %>	