<% form_for @user_session do |form| %>  
<%= form.error_messages %>  
<fieldset>
<p>
    <%= form.label :username, "Username" %><br/>  
    <%= form.text_field :username, :class => "text" %>  
</p>
<p>
    <%= form.label :password, "Password" %><br/>  
    <%= form.password_field :password, :class => "text" %>  
</p>
    <%= form.submit "Submit" %>  
</fieldset>
<% end %>


